
<div class="container">
    <div class="row">
        <app-date-picker></app-date-picker>
    </div>

  <div class="row">
    <div class="col">
      <input [(ngModel)]="searchText" class="form-control" type="text" placeholder="חיפוש מנה" aria-label="Search">
    </div>

    <div class="col">
        <p class="text-center">תפריט</p>
    </div>
    <div class="w-100"></div>

    <div class="col">
      <div class="row">
          <div class="col" style="overflow: auto; max-height: 700px; direction: ltr">
            <div *ngFor="let dish of testMenu?.dishs | filter : searchText">
                <div  *ngFor="let oneDishItem of dish?.dishItems" class="list-group" style="cursor: pointer">
                    <a class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1" >{{oneDishItem.subject}}</h5>
                      </div>
                    </a>
                </div>
            </div>

          </div>
      </div>
    </div>



    <div class="col border border-primary">

    </div>

  </div>
</div>
