<div id="contentWithImage" style="background-size: cover; width: 100%; height: 100%; overflow-x: hidden;">
    <div style="padding-top: 100px;">
        <div class="row">
            <div *ngFor="let dish of menu?.dishs; let i = index" class="col-4" style="padding-top: 50px; padding-right: 250px; font-size: 24px">
                <h4 [style.color]="headlineColor" style="font-size: 40px"><strong>{{dish.subject}}</strong></h4>
                <ul>
                    <li *ngFor="let dishitem of dish?.dishItems; let i = index" [style.color]="contentColor" style="font-size: 30px">{{dishitem?.subject}}</li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container" style="position: absolute;" [hidden]="hideEditorController">
        <button type="button" class="btn btn-danger" (click)="hide()"><i class="material-icons">clear</i></button>
        <button type="button" class="btn btn-danger" (click)="clearImage()">clear image</button>
        <span>
            <div>
                <input type="file" (change)="previewFile($event)"><br>
                <label>צבע כותרת</label><br>
                <input type="color" id="headlineColor" (change)="headlineColorChange($event)" value="#ff0000" ><br>
                <label>צבע תוכן</label><br>
                <input type="color" id="contentColor" (change)="contentColorChange($event)" value="#ff0000" >
            </div>
        </span>
    </div>
</div>
