<div style="width: 100%; height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;" id="contentWithImage">
    <p>asdd</p>
    <p>asd</p>
    <p>asfdfgdfgdfgdfgdfgdfgdfgd</p>
    <p>asd</p>
    <p>asd</p><p>asd</p><p>asd</p><p>asd</p><p>asd</p><p>asd</p><p>asd</p><p>asd</p><p>asd</p><p>asd</p><p>asd</p><p>asd</p>
</div>

<input type="file" (change)="previewFile($event)"><br>
<input type="color" id="headlineColor" (change)="headlineColorChange($event)" value="#ff0000" >
<input type="color" id="contentColor" (change)="contentColorChange($event)" value="#ff0000" >

<div [style.color]="headlineColor">header</div>
<div [style.color]="contentColor">content</div>
