<div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#commentModal">
        הוסף תגובה
    </button>
    
      <!-- Modal -->
      <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">התגובה שלך</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="subjectInput">כותרת</label>
                        <input [(ngModel)]="comment.subject" type="text" class="form-control" id="subjectInput" name="first">
                    </div>
                    <div class="form-group">
                        <label for="contentTextarea">תוכן</label>
                        <textarea [(ngModel)]="comment.content" class="form-control" id="contentTextarea" rows="8" name="sss"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">ביטול</button>
              <button type="button" class="btn btn-primary" (click)="addComment()">שלח</button>
            </div>
          </div>
        </div>
      </div>


    <div [hidden]="comments?.length == 0" class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">תגובות:</h6>
        <app-comment *ngFor="let comment of comments; let i = index" [comment]="comment"></app-comment>
    </div>
    <div [hidden]="comments?.length > 0" class="jumbotron">
      <p class="lead">אין תגובות היום.</p>
    </div>
</div>