<div class="container">
    <p>subject:</p>
    <input [(ngModel)]="comment.subject" type="text" />
    <p>content:</p>
    <input [(ngModel)]="comment.content" type="text" />
    <div>
        <button type="button" (click)="addComment()">add comment</button>
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">תגובות:</h6>
        <app-comment *ngFor="let comment of comments; let i = index" [comment]="comment"></app-comment>
    </div>
</div>